<!--mat-toolbar>
    <mat-form-field>
        <input matInput placeholder="Language" [matAutocomplete]="auto" [formControl]="languageControl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let lang of langListFiltered" [value]="lang.name" (click)="setLanguage(lang)">
                <span>{{ lang.name }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <mat-form-field>
        <input matInput type="password" placeholder="Password (optional)" [(ngModel)]="pwd">
    </mat-form-field>
    <button (click)="save($event)" mat-mini-fab color="primary">Go!</button>
</mat-toolbar-->
<div>
    Language:&nbsp;&nbsp;
    <span class="pointer" (click)="openLanguageDialog()">{{lang}}</span>
    <span class="fill-remaining-space"></span>
    <span class="material-icons pointer" (click)="openPasswordDialog()">lock</span>
    <span class="material-icons" *ngIf="pwd">check_circle</span>
    <span class="material-icons" *ngIf="!pwd">highlight_off</span>
</div>