.chat {
    width: 400px;
    max-width: 100%;
    height: calc(100% - 48px);
    position: absolute;
    color: #8F938F;
    z-index: 6;
    right: 32px;
    top: 48px;
}

.messages {
    background-color: #353030;
    height: calc(100% - 130px);
    overflow: auto;
    background-color: #353030;
    direction:rtl;
    margin-left: 32px;
}

.msg {
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    direction:ltr;
}

.message {
    background-color: #353030;
    height: 120px;
    text-align: center;
    line-height: 120px;
    border-top: #7b1fa2 5px solid;
    padding-bottom: 5px;
    margin-left: 32px;
}

.name {
    color: #7b1fa2;
    font-weight: bold;
    align-self: flex-start;
    word-wrap: normal;
    word-break: normal;
}

mat-list mat-list-item {
    height: auto;
    display: contents;
}