<div class="chat">
  <div #chatLog class="messages">
    <mat-list role="list">
      <div class="msg" *ngFor="let message of messages">
        <mat-list-item role="listitem">
          <div class="name">{{message.name}}</div>
        </mat-list-item>
        <mat-list-item role="listitem">
        <div>{{message.message}}</div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
  <div class="message">
    <form (submit)="send()">
      <mat-form-field>
        <input matInput #message name="message" placeholder="Message" maxlength="256" [(ngModel)]="text">
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
      <button mat-raised-button [disabled]="!message.value.length" color="primary">Send</button>
    </form>
  </div>
</div>