<div *ngIf="needPassword" class="needPassword">
    <div *ngIf="wrongPassword">Wrong password</div>
    <form (submit)="setPassword()">
        <mat-form-field>
            <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="password">
        </mat-form-field>
        <button mat-button color="warn">Go</button>
    </form>
</div>

<div *ngIf="!needPassword && code">
    <app-comment [comment]="comment"></app-comment>
    <ace-editor [text]="code" [mode]="lang" [theme]="'pastel_on_dark'" [readOnly]="true"></ace-editor>
    <app-chat (messageEmmiter)="onMessage($event)" [chat]="chat" [hidden]="!show" [channel]="channel"></app-chat>
    <app-sidebar [new]="newMessage" [channel]="channel" (chatEmmiter)="showChat($event)"></app-sidebar>
</div>