<div *ngIf="needPassword" class="needPassword">
    <div *ngIf="wrongPassword">Wrong password</div>
    <form (submit)="setPassword()">
        <mat-form-field>
            <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="password">
        </mat-form-field>
        <button mat-button color="warn">Go</button>
    </form>
</div>

<div [hidden]="needPassword || !code">
    <div *ngFor="let marker of markers" class="marker" [style.left.px]="marker.x" [style.top.px]="marker.y">
        <i class="material-icons flag">bookmark</i>
        <i class="text"><span class="name">{{marker.name}}</span>: {{marker.message}}</i>
    </div>
    <app-comment [comment]="comment"></app-comment>
    <ace-editor *ngIf="lang && code" (click)="openMarkerDialog()" #editor [text]="code" [mode]="lang" [theme]="'pastel_on_dark'" [readOnly]="true"></ace-editor>
    <app-chat *ngIf="lang && code" (messageEmmiter)="onMessage($event)" [chat]="chat" [hidden]="!show" [channel]="channel"></app-chat>
    <app-sidebar [new]="newMessage" [channel]="channel" (chatEmmiter)="showChat($event)"></app-sidebar>
</div>