ace-editor {
    position: absolute;
    width: calc(100% - 32px);
    height: calc(100% - 70px);
}


div.needPassword {
    position:absolute;
    width:100%;
    top:40%;
    text-align:center;
    color: #8F938F;
}

div.needPassword h1 {
    color: #7b1fa2;
}